global:
  domain: argocd.192.168.174.195.sslip.io

server:
  ingress:
    enabled: false

configs:
  params:
    server.insecure: 'true'
  cm:
    kustomize.buildOptions: --enable-helm --load-restrictor LoadRestrictionsNone
